lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/
*.iml
*.iws
.DS_Store
node_modules

.gitmodules
namecoin-settings.json
nmc2couch.log
nmc2couch.lock
couchdb-settings.json